<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977794713844-gu933asj60d4dhf749qje9vk321qc9nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977794713844-gu933asj60d4dhf749qje9vk321qc9nh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>977794713844-k584h36c03jqmdq1fs402p0rv26dsvde.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDa_EVXQkEHVKaXOvZMoF5xxbo7T0JOurY</string>
	<key>GCM_SENDER_ID</key>
	<string>977794713844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muzic.muzic</string>
	<key>PROJECT_ID</key>
	<string>muzic-f2687</string>
	<key>STORAGE_BUCKET</key>
	<string>muzic-f2687.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977794713844:ios:4b88364e8f428f59cb36a1</string>
</dict>
</plist>